/* edit */
/* create new ruleset std-edit2 based on std-edit set */
@set std-edit2 < std-edit {
    :root {
        display: block;
    }
}

/* create new control editbox that uses std-edit ruleset */
editbox {
    style-set: std-edit2;
}

/* radio button */
@set std-radio < std-radio {
    :root {
        display: block;
    }
}

radio {
    style-set: std-radio;
}

/* checkbox */
@set std-checkbox < std-checkbox {
    :root {
        display: block;
    }
}

checkbox {
    style-set: std-checkbox;
}

/* slider */
@set std-hslider < std-hslider {
    :root {
        display: block;
    }
}

slider {
    display: inline-block;
    style-set: std-hslider;
}
